<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>photo1.JPG</string>
	<string>photo2.JPG</string>
	<string>photo3.JPG</string>
	<string>photo4.JPG</string>
	<string>photo5.JPG</string>
	<string>photo6.JPG</string>
	<string>photo7.JPG</string>
	<string>photo8.JPG</string>
	<string>photo9.JPG</string>
	<string>photo10.JPG</string>
	<string>photo11.JPG</string>
	<string>photo12.JPG</string>
	<string>photo13.JPG</string>
	<string>photo14.JPG</string>
	<string>photo15.JPG</string>
</array>
</plist>
