<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photoID</key>
		<string>1</string>
		<key>imageFile</key>
		<string>triptych.jpg</string>
		<key>caption</key>
		<string>ODE TO WARHOL: TRIPTYCH </string>
		<key>dateTaken</key>
		<string>Nov 14, 2015</string>
		<key>locationData</key>
		<string>Lacey Woods Park </string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>2</string>
		<key>imageFile</key>
		<string>photo1.JPG</string>
		<key>caption</key>
		<string>EVERYONE BUCKLE UP PLEASE</string>
		<key>dateTaken</key>
		<string>Nov 19, 2015</string>
		<key>locationData</key>
		<string>Spout Run Woods</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>3</string>
		<key>imageFile</key>
		<string>photo2.JPG</string>
		<key>caption</key>
		<string>I AM A SO SLEEEEPY...</string>
		<key>dateTaken</key>
		<string>Nov 19, 2015</string>
		<key>locationData</key>
		<string>Home</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>4</string>
		<key>imageFile</key>
		<string>photo3.JPG</string>
		<key>caption</key>
		<string>UMMM... IS THERE A PROBLEM? </string>
		<key>dateTaken</key>
		<string>Nov 21, 2015</string>
		<key>locationData</key>
		<string>Barcroft Dog Park</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>5</string>
		<key>imageFile</key>
		<string>photo4.JPG</string>
		<key>caption</key>
		<string>ODE TO WARHOL: TRIPTYCH </string>
		<key>dateTaken</key>
		<string>Nov 14, 2015</string>
		<key>locationData</key>
		<string>Lacey Woods Park </string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>6</string>
		<key>imageFile</key>
		<string>photo5.JPG</string>
		<key>caption</key>
		<string>ODE TO WARHOL: TRIPTYCH </string>
		<key>dateTaken</key>
		<string>Nov 14, 2015</string>
		<key>locationData</key>
		<string>Lacey Woods Park </string>
	</dict>
	<dict>
		<key>imageFile</key>
		<string>triptych.jpg</string>
		<key>caption</key>
		<string>ODE TO WARHOL: TRIPTYCH </string>
		<key>dateTaken</key>
		<string>Nov 14, 2015</string>
		<key>locationData</key>
		<string>Lacey Woods Park </string>
		<key>photoID</key>
		<string>7</string>
	</dict>
	<dict>
		<key>photoID</key>
		<string>8</string>
		<key>imageFile</key>
		<string>triptych.jpg</string>
		<key>caption</key>
		<string>ODE TO WARHOL: TRIPTYCH </string>
		<key>dateTaken</key>
		<string>Nov 14, 2015</string>
		<key>locationData</key>
		<string>Lacey Woods Park </string>
	</dict>
</array>
</plist>
