<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ServiceName</key>
		<string>Overnight</string>
		<key>Abbreviated</key>
		<string>O/N</string>
		<key>Charge</key>
		<string>49</string>
		<key>DaysAvailable</key>
		<dict>
			<key>Monday</key>
			<string>TRUE</string>
			<key>Tuesday</key>
			<string>TRUE</string>
			<key>Wednesday</key>
			<string>TRUE</string>
			<key>Thursday</key>
			<string>TRUE</string>
			<key>Friday</key>
			<string>TRUE</string>
			<key>Saturday</key>
			<string>TRUE</string>
			<key>Sunday</key>
			<string>TRUE</string>
		</dict>
		<key>TimeWindows</key>
		<dict>
			<key>6p-8a</key>
			<string>Non-exclusive</string>
			<key>7p-8a</key>
			<string>Non-exclusive</string>
			<key>8p-8a</key>
			<string>Non-exclusive</string>
		</dict>
	</dict>
	<dict>
		<key>ServiceName</key>
		<string>Pet Sit - 45 Min</string>
		<key>Abbreviated</key>
		<string>PS-45</string>
		<key>Charge</key>
		<string>18</string>
		<key>TimeWindows</key>
		<dict>
			<key>AllWindows</key>
			<string>TRUE</string>
		</dict>
	</dict>
	<dict>
		<key>ServiceName</key>
		<string>Pet Sit - 30 Min</string>
		<key>Abbreviated</key>
		<string>PS-30</string>
		<key>Charge</key>
		<string>16</string>
		<key>TimeWindows</key>
		<dict>
			<key>AllWindows</key>
			<string>TRUE</string>
		</dict>
	</dict>
	<dict>
		<key>ServiceName</key>
		<string>Pet Sit - 15 Min</string>
		<key>Abbreviated</key>
		<string>PS-15</string>
		<key>Charge</key>
		<string>14</string>
		<key>TimeWindows</key>
		<dict>
			<key>AllWindows</key>
			<string>TRUE</string>
		</dict>
	</dict>
	<dict>
		<key>ServiceName</key>
		<string>Catsit</string>
		<key>Abbreviated</key>
		<string>CS</string>
		<key>Charge</key>
		<string>16</string>
		<key>TimeWindows</key>
		<dict>
			<key>8am - 4pm</key>
			<string>Non-exclusive</string>
		</dict>
	</dict>
	<dict>
		<key>ServiceName</key>
		<string>Dog Walk - 30 Min</string>
		<key>Abbreviated</key>
		<string>DW-30</string>
		<key>Charge</key>
		<string>18</string>
		<key>TimeWindows</key>
		<dict>
			<key>6p-8a</key>
			<string>Non-exclusive</string>
			<key>7p-8a</key>
			<string>Non-exclusive</string>
			<key>8p-8a</key>
			<string>Non-exclusive</string>
		</dict>
	</dict>
	<dict>
		<key>ServiceName</key>
		<string>Overnight</string>
		<key>Abbreviated</key>
		<string>O/N</string>
		<key>Charge</key>
		<string>49</string>
		<key>New item</key>
		<string></string>
		<key>TimeWindows</key>
		<dict>
			<key>6p-8a</key>
			<string>Non-exclusive</string>
			<key>7p-8a</key>
			<string>Non-exclusive</string>
			<key>8p-8a</key>
			<string>Non-exclusive</string>
		</dict>
	</dict>
	<dict>
		<key>ServiceName</key>
		<string>Overnight</string>
		<key>Abbreviated</key>
		<string>O/N</string>
		<key>Charge</key>
		<string>49</string>
		<key>New item</key>
		<string></string>
		<key>TimeWindows</key>
		<dict>
			<key>6p-8a</key>
			<string>Non-exclusive</string>
			<key>7p-8a</key>
			<string>Non-exclusive</string>
			<key>8p-8a</key>
			<string>Non-exclusive</string>
		</dict>
	</dict>
</array>
</plist>
