<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>StartTime</key>
		<string>11-03-2015</string>
		<key>Service</key>
		<string>Dog Walk - 30</string>
		<key>EndTime</key>
		<string>11a-1p</string>
		<key>Notes</key>
		<string>Walk the dog</string>
		<key>Status</key>
		<string>Scheduled</string>
	</dict>
	<dict>
		<key>StartTime</key>
		<string>12-03-2015</string>
		<key>Service</key>
		<string>Dog Walk - 30</string>
		<key>EndTime</key>
		<string>11a-1p</string>
		<key>Notes</key>
		<string>Walk the dog</string>
		<key>Status</key>
		<string>Scheduled</string>
	</dict>
	<dict>
		<key>StartTime</key>
		<string>13-03-2015</string>
		<key>Service</key>
		<string>Dog Walk - 30</string>
		<key>EndTime</key>
		<string>1:00 PM</string>
		<key>Notes</key>
		<string>Walk the dog</string>
		<key>Status</key>
		<string>Canceled</string>
	</dict>
	<dict>
		<key>StartTime</key>
		<string>14-03-2015</string>
		<key>Service</key>
		<string>Dog Walk - 30</string>
		<key>EndTime</key>
		<string>11a-1p</string>
		<key>Notes</key>
		<string>Walk the dog</string>
		<key>Status</key>
		<string>Scheduled</string>
	</dict>
	<dict>
		<key>StartTime</key>
		<string>14-03-2015</string>
		<key>Service</key>
		<string>Dog Walk - 30</string>
		<key>EndTime</key>
		<string>11a-1p</string>
		<key>Notes</key>
		<string>Walk the dog</string>
		<key>Status</key>
		<string>Scheduled</string>
	</dict>
</array>
</plist>
