<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Type</key>
		<string>Administer pill monthly, REQUIRES Rx and annual test</string>
		<key>Name</key>
		<string>Heartgard Brand</string>
		<key>Description</key>
		<string>Heartworms are insidious and can be fatal. </string>
		<key>Frequency</key>
		<string>Month</string>
		<key>Last</key>
		<string>Last Treatment: Mar 1, 2015</string>
		<key>Next</key>
		<string>Next Treatment: Apr 1, 2015 [Scheduled]</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>heartgard</string>
		<key>MedBrand</key>
		<string>Heartgard</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$8.47</string>
		<key>methodFor</key>
		<string>pill</string>
		<key>New item - 7</key>
		<string></string>
		<key>New item - 6</key>
		<string></string>
		<key>New item - 5</key>
		<string></string>
		<key>New item - 4</key>
		<string></string>
		<key>New item - 3</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item</key>
		<string></string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Wellness</string>
		<key>Name</key>
		<string>Flea &amp; Tick</string>
		<key>Description</key>
		<string>Eradicate fleas and ticks.</string>
		<key>Frequency</key>
		<string>Month</string>
		<key>Last</key>
		<string>Mar 1, 2015</string>
		<key>Next</key>
		<string>Apr 1, 2015</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>two-pills</string>
		<key>MedBrand</key>
		<string>K-9 Advantix</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$7.75</string>
		<key>methodFor</key>
		<string>topical</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Wellness</string>
		<key>Name</key>
		<string>Rabies Vaccine</string>
		<key>Description</key>
		<string>Every year</string>
		<key>Frequency</key>
		<string>Month</string>
		<key>Last</key>
		<string>Mar 1, 2015</string>
		<key>Next</key>
		<string>Apr 1, 2015</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>two-pills</string>
		<key>MedBrand</key>
		<string>Heartgard</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$8.47</string>
		<key>methodFor</key>
		<string>pill</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Wellness</string>
		<key>Name</key>
		<string>Bordetella Vaccine</string>
		<key>Description</key>
		<string>Before 6 months, if frequently kenneled</string>
		<key>Frequency</key>
		<string>Annual</string>
		<key>Last</key>
		<string>Mar 1, 2015</string>
		<key>Next</key>
		<string>Mar 1, 2016</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>heartgard</string>
		<key>MedBrand</key>
		<string>Heartgard</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$8.47</string>
		<key>methodFor</key>
		<string>hypodermic</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Wellness</string>
		<key>Name</key>
		<string>Stool sample</string>
		<key>Description</key>
		<string>Identify any parasites</string>
		<key>Frequency</key>
		<string>Annual</string>
		<key>Last</key>
		<string>Mar 1, 2015</string>
		<key>Next</key>
		<string>Mar 1, 2016</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>heartgard</string>
		<key>MedBrand</key>
		<string>Heartgard</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$8.47</string>
		<key>methodFor</key>
		<string>hypodermic</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Wellness</string>
		<key>Name</key>
		<string>Dental Visit</string>
		<key>Description</key>
		<string>Every six months</string>
		<key>Frequency</key>
		<string>Annual</string>
		<key>Last</key>
		<string>Mar 1, 2015</string>
		<key>Next</key>
		<string>Mar 1, 2016</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>heartgard</string>
		<key>MedBrand</key>
		<string>Heartgard</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$8.47</string>
		<key>methodFor</key>
		<string>hypodermic</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Wellness</string>
		<key>Name</key>
		<string>Ear Cleaning</string>
		<key>Description</key>
		<string>Weekly</string>
		<key>Frequency</key>
		<string>Annual</string>
		<key>Last</key>
		<string>Mar 1, 2015</string>
		<key>Next</key>
		<string>Mar 1, 2016</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>heartgard</string>
		<key>MedBrand</key>
		<string>Heartgard</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$8.47</string>
		<key>methodFor</key>
		<string>hypodermic</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Wellness</string>
		<key>Name</key>
		<string>Blood Lab Test</string>
		<key>Description</key>
		<string>Every 6 months</string>
		<key>Frequency</key>
		<string>Annual</string>
		<key>Last</key>
		<string>Mar 1, 2015</string>
		<key>Next</key>
		<string>Mar 1, 2016</string>
		<key>ScheduleStatus</key>
		<string>YES</string>
		<key>IconFor</key>
		<string>heartgard</string>
		<key>MedBrand</key>
		<string>Heartgard</string>
		<key>IconForMedBrand</key>
		<string>none</string>
		<key>MedCharge</key>
		<string>$8.47</string>
		<key>methodFor</key>
		<string>hypodermic</string>
	</dict>
</array>
</plist>
